# === Maven ===
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# === IDEs ===
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / Spring Tool Suite
.classpath
.project
.settings/
.apt_generated/
.springBeans/
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# Visual Studio Code
.vscode/

# === OS files ===
.DS_Store
Thumbs.db

# === Logs & temp ===
*.log
logs/
tmp/
*.tmp

# === Ignore all jars and compiled files ===
*.jar
*.war
*.ear
*.class
