version: '3.9'

services:
  # ---------- DB ----------
  db:
    image: postgres:16
    container_name: transporte_db
    env_file: .env
    ports:
      - "5432:5432"
    networks:
      - microservice-network

  # ---------- Keycloak ----------
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://db:5432/${POSTGRES_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KC_HTTP_PORT: 8080
    command: start-dev
    ports:
      - "8081:8080"
    depends_on:
      - db
    networks:
      - microservice-network

  # ---------- OSRM ----------
  osrm:
    image: ghcr.io/project-osrm/osrm-backend:latest
    container_name: osrm
    ports:
      - "5000:5000"
    volumes:
      - ./osrm-data:/data
    command: osrm-routed /data/argentina-251114.osrm
    networks:
      - microservice-network

  # ---------- API GATEWAY ----------
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./api-gateway/src/main/resources/application.yml:/app/config/application.yml
    environment:
      SPRING_APPLICATION_NAME: api-gateway
    depends_on:
      - keycloak
      - microservicio-clientes
      - microservicio-contenedores
      - microservicio-camiones
      - osrm
    networks:
      - microservice-network

  # ---------- Microservicios ----------
  microservicio-clientes:
    build:
      context: ./microservicio-clientes
      dockerfile: Dockerfile
    env_file: .env
    expose:
      - "8080"
    volumes:
      - ./microservicio-clientes/src/main/resources/application.yml:/app/config/application.yml
    depends_on:
      - db
    networks:
      - microservice-network

  microservicio-contenedores:
    build:
      context: ./microservicio-contenedores
      dockerfile: Dockerfile
    env_file: .env
    expose:
      - "8080"
    volumes:
      - ./microservicio-contenedores/src/main/resources/application.yml:/app/config/application.yml
    depends_on:
      - db
    networks:
      - microservice-network

  microservicio-camiones:
    build:
      context: ./microservicio-camiones
      dockerfile: Dockerfile
    env_file: .env
    expose:
      - "8080"
    volumes:
      - ./microservicio-camiones/src/main/resources/application.yml:/app/config/application.yml
    depends_on:
      - db
      - osrm
    networks:
      - microservice-network

networks:
  microservice-network:
    driver: bridge
