server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    compatibility-verifier:
      enabled: false

    gateway:
      routes:

        # ======================== RUTAS DE NEGOCIO ========================
        - id: clientes-service
          uri: http://microservicio-clientes:8080
          predicates:
            - Path=/api/v1/clientes/**

        - id: contenedores-service
          uri: http://microservicio-contenedores:8080
          predicates:
            - Path=/api/v1/contenedores/**

        - id: camiones-service
          uri: http://microservicio-camiones:8080
          predicates:
            - Path=/api/v1/camiones/**,/api/v1/tarifas/**

        - id: integracion-service
          uri: http://microservicio-integracion:8080
          predicates:
            - Path=/api/v1/distancia/**

        - id: logistica-service
          uri: http://microservicio-logistica:8080
          predicates:
              - Path=/api/v1/solicitudes/**

        # ====================== RUTAS DE DOCUMENTACIÓN (Swagger Proxy) ======================

        # 1. Clientes
        - id: clientes-openapi
          uri: http://microservicio-clientes:8080
          predicates:
            - Path=/v3/api-docs/clientes
          filters:
            - RewritePath=/v3/api-docs/clientes, /v3/api-docs

        # 2. Contenedores
        - id: contenedores-openapi
          uri: http://microservicio-contenedores:8080
          predicates:
            - Path=/v3/api-docs/contenedores
          filters:
            - RewritePath=/v3/api-docs/contenedores, /v3/api-docs

        # 3. Camiones
        - id: camiones-openapi
          uri: http://microservicio-camiones:8080
          predicates:
            - Path=/v3/api-docs/camiones
          filters:
            - RewritePath=/v3/api-docs/camiones, /v3/api-docs

        # 4. Integración
        - id: integracion-openapi
          uri: http://microservicio-integracion:8080
          predicates:
            - Path=/v3/api-docs/integracion
          filters:
            - RewritePath=/v3/api-docs/integracion, /v3/api-docs

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: Clientes
        url: /v3/api-docs/clientes
      - name: Contenedores
        url: /v3/api-docs/contenedores
      - name: Camiones
        url: /v3/api-docs/camiones
      - name: Integracion
        url: /v3/api-docs/integracion