server:
  port: 8080

spring:
  application:
    name: microservicio-integracion

osrm:

  base-url: http://osrm:5000/route/v1/driving/

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info