server:
  port: 8080

spring:
  application:
    name: microservicio-logistica

  cloud:
    compatibility-verifier:
      enabled: false

  datasource:
    url: jdbc:postgresql://db:5432/logistica_db
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  jackson:
    serialization:
      fail-on-empty-beans: false

springdoc:
  api-docs:
    path: /v3/api-docs/logistica
  swagger-ui:
    path: /swagger-ui.html